html *
{
	font-family: 'Open Sans', sans-serif;
}

#header
{
	margin: auto;
	width: 50%;
	background-color: #000;
}

#banner
{
	width: 256px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

li
{
	display: inline-block;
}

li:not(li:last-child)::after
{
	content: "";
    display: inline-block;
    height: 10px;
    width: 1px;
    margin: auto;
    background-color: #fff;
}

li a
{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	color: #fff;
}

li a:hover
{
	color: #00D4FB;
}

body
{
	background-color: #E8E8E8;
}

#container
{
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 500px;
}

#footer
{
	background-color: #000;
	width: 50%;
	margin: auto;
	height: 50px;
}
